<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.noogabab">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".presentation.ui.setting.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.ui.setting.group.GroupProfile">

        </activity> <!-- <activity android:name=".presentation.ui.tempmain.TempMainActivity"></activity> -->
        <!-- <activity android:name=".presentation.ui.splash.SplashActivity"></activity> -->
        <!-- <activity android:name=".presentation.ui.timeline.TimelineActivity" /> -->
        <activity android:name=".presentation.ui.main.album.AlbumDetailActivity" /> <!-- <activity android:name=".presentation.ui.splash.SplashActivity"></activity> -->
        <activity android:name=".presentation.ui.main.timeline.TimelineActivity" />
        <activity android:name=".presentation.ui.start.createGroup.CreateGroupActivity" />
        <activity
            android:name=".presentation.ui.start.enterGroup.EnterGroupActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".presentation.ui.start.StartActivity" />
        <activity android:name=".presentation.ui.main.MainActivity" />
        <activity android:name=".presentation.ui.splash.SplashActivity"></activity>
    </application>

</manifest>